

.product-list-inline {
}

.product-image {
    margin: 10px;
    padding-top: 10px;
    width: 100%;
}

.product-name {
    border-bottom: 1px solid rgba(0,0,0,.13);
    padding: 8px 0 3px;
}

.product-details {
    color: gray;
    display: inline;
    margin-left: 10px;
    margin-right: 10px;
}

.product-category {
    display: inline;
}

.product-price {
    float: right;
}

.product-container {
    width: 100%;
}